<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAk5eQG7p_UGWuPFygHmP5ardGimqebIb4</string>
	<key>GCM_SENDER_ID</key>
	<string>286425702636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cinemaBookingApp</string>
	<key>PROJECT_ID</key>
	<string>cinema-booking-app-7df82</string>
	<key>STORAGE_BUCKET</key>
	<string>cinema-booking-app-7df82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286425702636:ios:5df86d0b45f39991d685c9</string>
</dict>
</plist>